<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间需与对应的Dao接口全路径一致 -->
<mapper namespace="com.example.primaryschoolmanagement.dao.ClassesDao">
    <select id="ClassesList" resultType="classes">
        select id,classNo,className,gradeId,headTeacherId,classroom,maxStudents, currentStudents,schoolYear,status,remark,createdAt,updatedAt,isDeleted from edu_class;
    </select>
</mapper>
