<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间需与对应的Dao接口全路径一致 -->
<mapper namespace="com.example.primaryschoolmanagement.dao.TeacherDao">
    <select id="TeacherList" resultType="teacher">
        select teacher_no,teacher_name,gender,birth_date from edu_teacher;
    </select>
</mapper>
